<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/css/change.css" />
    <script src="/js/change.js"></script>
</head>
<body>
<div class="control">
    <div class="item">
        <div class="active">登录</div><div>注册</div>
    </div>
    <div class="content">
        <div style="display: block;">
            <form action="/st/login" method="post" enctype="multipart/form-data">
<!--                csrf防护-->
                <input type="hidden" th:value="${_csrf.token}" name="_csrf">
            <p>账号</p>
            <input type="text" placeholder="username" name="username"/>
            <p>密码</p>
            <input type="password" placeholder="password" name="password"/>
            <br/>
            免登录<input type="checkbox" name="rememberme" value="true">
            <br/>
            <input type="submit" value="登录"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>